/arch/arm/boot/compressed/piggy.gzip
/arch/arm/boot/compressed/piggy.lzma
/arch/arm/boot/compressed/piggy.lzo
/arch/arm/boot/compressed/piggy.lz4
/source
/scripts/basic/fixdep
/scripts/bin2c
/scripts/conmakehash
/scripts/genksyms/genksyms
/scripts/genksyms/keywords.hash.c
/scripts/genksyms/lex.lex.c
/scripts/genksyms/parse.tab.c
/scripts/genksyms/parse.tab.h
/scripts/kallsyms
/scripts/kconfig/conf
/scripts/kconfig/zconf.hash.c
/scripts/kconfig/zconf.lex.c
/scripts/kconfig/zconf.tab.c
/scripts/mod/elfconfig.h
/scripts/mod/mk_elfconfig
/scripts/mod/modpost
/scripts/selinux/genheaders/genheaders
/scripts/selinux/mdp/mdp
/security/selinux/av_permissions.h
/security/selinux/flask.h
/lib/crc32table.h
/lib/gen_crc32table
/firmware/audience-es325-fw-eur.bin.gen.S
/firmware/ssp.fw
/firmware/ssp.*
/firmware/ssp*
/firmware/ssp.fw.gen.S
/firmware/ssp_crashed.fw
/firmware/ssp_crashed.fw.gen.S
/firmware/ssp_rev03.fw
/firmware/ssp_rev03.fw.gen.S
/firmware/tsp*
/firmware/tsp_atmel/mXT540S.fw
/firmware/tsp_atmel/mXT540S.fw.gen.S
/firmware/tsp_atmel/mXT540Si.fw
/firmware/tsp_atmel/mXT540Si.fw.gen.S
/firmware/tsp_synaptics/synaptics_a1.fw
/firmware/tsp_synaptics/synaptics_a1.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_3_4.fw
/firmware/tsp_synaptics/synaptics_b0_3_4.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_4_0.fw
/firmware/tsp_synaptics/synaptics_b0_4_0.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_4_3.fw
/firmware/tsp_synaptics/synaptics_b0_4_3.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_5_1.fw
/firmware/tsp_synaptics/synaptics_b0_5_1.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_5_1_fac.fw
/firmware/tsp_synaptics/synaptics_b0_5_1_fac.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_fac.fw
/firmware/tsp_synaptics/synaptics_b0_fac.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_nep_13.fw
/firmware/tsp_synaptics/synaptics_b0_nep_13.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_nep_14.fw
/firmware/tsp_synaptics/synaptics_b0_nep_14.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_nep_19.fw
/firmware/tsp_synaptics/synaptics_b0_nep_19.fw.gen.S
..*
...*
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
.*.cmd
*.builtin
*.order
/arch/arm/kernel/vmlinux.lds
/boot.img.pre
/arch/arm/boot/Image
/arch/arm/boot/compressed/vmlinux
/arch/arm/boot/zImage
/usr/gen_init_cpio
/usr/initramfs_data.cpio
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers
!.gitignore
!.mailmap
include/config
include/linux/version.h
include/generated
arch/*/include/generated
kernel/config_data.h
kernel/relocate_kernel_64.S
drivers/tty/vt/defkeymap.c
drivers/tty/vt/consolemap_deftbl.c
kernel/timeconst.h
patches-*
patches
series
cscope.*
ncscope.*
GPATH
GRTAGS
GSYMS
GTAGS
*.orig
*~
*.dts
*.dtb
\#*#
/arch/arm/boot/compressed/ashldi3.S
/arch/arm/boot/compressed/lib1funcs.S
/arch/arm/boot/compressed/vmlinux.lds
/firmware/ice40xx/i2c_top_bitmap_1.fw
/firmware/ice40xx/i2c_top_bitmap_1.fw.gen.S
/firmware/ice40xx/i2c_top_bitmap_2.fw
/firmware/ice40xx/i2c_top_bitmap_2.fw.gen.S
/firmware/ssp_stm.fw
/firmware/ssp_stm.fw.gen.S
/firmware/ssp_stm_88921.fw
/firmware/ssp_stm_88921.fw.gen.S
/firmware/ssp_stm_rvs.fw
/firmware/ssp_stm_rvs.fw.gen.S
/firmware/ssp_stm_w2014.fw
/firmware/ssp_stm_w2014.fw.gen.S
/firmware/tkey/dtech_cypress_tkey.fw
/firmware/tkey/dtech_cypress_tkey.fw.gen.S
/firmware/tkey/semco02_cypress_tkey.fw
/firmware/tkey/semco02_cypress_tkey.fw.gen.S
/firmware/tkey/semco04_cypress_tkey.fw
/firmware/tkey/semco04_cypress_tkey.fw.gen.S
/firmware/tkey/semco_cypress_tkey.fw
/firmware/tkey/semco_cypress_tkey.fw.gen.S
/firmware/tsp_synaptics/synaptics_s5100_hestia.fw
/firmware/tsp_synaptics/synaptics_s5100_hestia.fw.gen.S
/firmware/tsp_synaptics/synaptics_s5100_k_a2_fhd.fw
/firmware/tsp_synaptics/synaptics_s5100_k_a2_fhd.fw.gen.S
/firmware/tsp_synaptics/synaptics_s5100_k_a3.fw
/firmware/tsp_synaptics/synaptics_s5100_k_a3.fw.gen.S
/firmware/tsp_synaptics/synaptics_s5100_k_active.fw
/firmware/tsp_synaptics/synaptics_s5100_k_active.fw.gen.S
/arch/arm/boot/dt.img
/arch/arm/boot/*.dtb
/arch/arm/boot/msm8974pro-ac-sec-k-r03.dtb
/arch/arm/boot/msm8974pro-ac-sec-k-r04.dtb
/arch/arm/boot/msm8974pro-ac-sec-k-r05.dtb
/arch/arm/boot/msm8974pro-ac-sec-k-r06.dtb
/arch/arm/boot/msm8974pro-ac-sec-k-r07.dtb
/arch/arm/boot/msm8974pro-ac-sec-k-r08.dtb
/arch/arm/boot/msm8974pro-ac-sec-k-r14.dtb
/arch/arm/boot/zImage-dtb
/scripts/dtc/dtc
/scripts/dtc/dtc-lexer.lex.c
/scripts/dtc/dtc-parser.tab.c
/scripts/dtc/dtc-parser.tab.h
/arch/arm/mach-msm/smd_rpc_sym.c

# MY Scripts & Files
/build/tw*/ramfs
/build/tw*/ramfs*
/build/tw*/ramdisk
/build/tw*/ramdisk*
/build/tw*/*gz
/build/tw*/*lzo
/build/tw*/*lz4
/build/tw*/*lzma
/build/zip_files/boot.img
/build/output_kernel/Hybridmax*
/build/output_kernel/Hybridmax*.zip
/build/*/ramfs
/build/*/ramfs*
/build/*/ramdisk
/build/*/ramdisk*
/Hybridmax*
/Hybridmax*.zip
/*.log
/.version
/out
/vmlinux*
/vmlinuz*
/build_image/tw*/ramfs
/build_image/tw*/ramfs*
/build_image/tw*/ramdisk
/build_image/tw*/ramdisk*
/build_image/tw*/*gz
/build_image/tw*/*lzo
/build_image/tw*/*lz4
/build_image/tw*/*lzma
/build_image/zip_files/boot.img
/build_image/output_kernel/Hybridmax*
/build_image/output_kernel/Hybridmax*.zip
/build_image/*/ramfs
/build_image/*/ramfs*
/build_image/*/ramdisk
/build_image/*/ramdisk*
/*.log
/.version
/.config
/include/configs/*/*/*.h
/include/configs/fb/*/*/*.h
/include/configs/arm/*/*/*/*.h
/include/config/*/*.h
/include/config/*/*/*/*/*.h
/include/config/*/*/*/*.h
/include/config/*/*/*.h
/out
/Hybridmax*
/Hybridmax*.zip
/vmlinux*
/vmlinuz*
/Hulk*
/output_*

#
# Exceptions
#
!drivers/staging/qcacld-2.0/firmware_bin/*
